<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/estadistica.css">
    <title>Parte Contable - EasyParking</title>
    <link rel="shortcut icon" href="/img/icon.png" type="image/x-icon">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">

</head>
<body>
    <header>
        <div style="display: flex; align-items: center; gap: 29em;">
            <h1>Bienvenido a EasyParking</h1>
            <a href="/"><i class="fas fa-sign-out-alt"></i></a>
        </div>
    </header>
    

    <nav>
        <ul>
            <li><a href="/home" target="_blank" rel="noopener noreferrer">Inicio</a></li>
            <li><a href="/estadistica" target="_blank" rel="noopener noreferrer">Estadística</a></li>
        </ul>
    </nav>
    

    <main>
        <div class="cajadatos">
            <div class="cajadato" id="cajadato1">
                <table class="tablas">
                    <thead>
                        <tr><th colspan="2">Vehículos Ingresados</th></tr>
                    </thead>
                    <tbody>
                        <tr><td>Carros</td><td>150</td></tr>
                        <tr><td>Motos</td><td>100</td></tr>
                        <tr><td>Total</td><td>250</td></tr>
                    </tbody>
                </table>
                <table>
                    <thead>
                        <tr><th colspan="2">Ingresos del Día</th></tr>
                    </thead>
                    <tbody>
                        <tr><td>Carros</td><td>$3,000,000</td></tr>
                        <tr><td>Motos</td><td>$1,000,000</td></tr>
                        <tr><td>Total</td><td>$4,000,000</td></tr>
                    </tbody>
                </table>
            </div>
        
            <div class="cajadato" id="cajadato2">
                <table>
                    <thead>
                        <tr><th colspan="2">Balance</th></tr>
                    </thead>
                    <tbody>
                        <tr><td>Día</td><td>$3,000,000</td></tr>
                        <tr><td>Acumulado Mes</td><td>$1,000,000</td></tr>
                    </tbody>
                </table>
                <div id="reportanual">
                    <table>
                        <thead>
                            <tr><th colspan="2">Balance Histórico</th></tr>
                            <tr><th colspan="2">Trimestre 1</th></tr>
                        </thead>
                        <tbody>
                            <tr><td>Enero</td><td>$30,000,000</td></tr>
                            <tr><td>Febrero</td><td>$25,000,000</td></tr>
                            <tr><td>Marzo</td><td>$25,000,000</td></tr>
                        </tbody>
                    </table>
                    <table>
                        <thead>
                            <tr><th colspan="2">Trimestre 2</th></tr>
                        </thead>
                        <tbody>
                            <tr><td>Abril</td><td>$25,000,000</td></tr>
                            <tr><td>Mayo</td><td>$25,000,000</td></tr>
                            <tr><td>Junio</td><td>$25,000,000</td></tr>
                        </tbody>
                    </table>
                    <table>
                        <thead>
                            <tr><th colspan="2">Trimestre 3</th></tr>
                        </thead>
                        <tbody>
                            <tr><td>Julio</td><td>$25,000,000</td></tr>
                            <tr><td>Agosto</td><td>$25,000,000</td></tr>
                            <tr><td>Septiembre</td><td>$25,000,000</td></tr>
                        </tbody>
                    </table>
                    <table>
                        <thead>
                            <tr><th colspan="2">Trimestre 4</th></tr>
                        </thead>
                        <tbody>
                            <tr><td>Octubre</td><td>$25,000,000</td></tr>
                            <tr><td>Noviembre</td><td>$25,000,000</td></tr>
                            <tr><td>Diciembre</td><td>$25,000,000</td></tr>
                        </tbody>
                    </table>
                    <table>
                        <thead>
                            <tr><th colspan="2">Acumulado Año</th></tr>
                        </thead>
                        <tbody>
                            <tr><td>Acumulado Año</td><td>$80,000,000</td></tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </main>
    <footer id="piePagina">
        <div id="derechos-autor">
            <div id="texto-derechos">
                <p>Página elaborada por Christian Obando y Juan Camilo Pavi - Proyecto Easy Parking - Todos los derechos reservados © 2025</p>
                <p>Este proyecto se desarrolló como parte del programa Talento Tech Valle</p>
            </div>
        </div>
    </footer>
</body>
</html>
