<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/registro.css">
    <title>Registro de Parqueadero - EasyParking</title>
    <link rel="shortcut icon" href="/img/icon.png" type="image/x-icon">
</head>
<body>
    <header>
        <h1>Bienvenido a EasyParking</h1>
    </header>

    <main id="contenido">
        <!-- Formulario de registro de usuarios -->
        <section>
            <div id="contenedorModulo">
                <div id="imagen">
                    <img src="img/logo.jpeg" alt="logo EasyParking" id="imagenLogo">
                </div>
                <div id="contenedor-inicioSesion">
                    <form  id="registerForm">
                        <div id="datosInicio">
                            <h2 id="tituloFormulario">Registro de Usuarios</h2>
                            <div id="campos">
                                <div>
                                    <label for="usuario" class="input-text">Usuario:</label>
                                    <input type="text" name="usuario" class="input-text" id="username">
                                </div>
                                <div>
                                    <label for="contraseña" class="input-text">Contraseña:</label>
                                    <input type="password" name="contraseña" class="input-text" id="password">
                                </div>
                                <div>
                                    <label for="correo" class="input-text">Correo electrónico</label>
                                    <input type="email" name="email" id="email" class="input-text">
                                </div>
                                <div>
                                    <label for="correo" class="input-text">Numero de parqueaderos disponibles</label>
                                    <input type="number" name="slots" id="slots" class="input-text" min="1" max="80">
                                </div>
                                <div>
                                    <button type="submit" class="boton">Registrar Usuario</button>
                                    <button type="submit" class="boton"><a href="/">Iniciar Sesión</a></button>
                                </div>
<!--                                 <div id="reestablecerClave">
                                    <button type="button" class="boton">Restablecer Contraseña</button>
                                </div> -->
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </section>
    </main>

    <footer id="piePagina">
        <div id="derechos-autor">
            <div id="texto-derechos">
                <p>Página elaborada por Christian Obando y Juan Camilo Pavi - Proyecto Easy Parking - Todos los derechos reservados © 2025</p>
                <p>Este proyecto se desarrolló como parte del programa Talento Tech Valle</p>
            </div>
        </div>
    </footer>
    <script src="js/registro.js"></script>
</body>
</html>

